body {
    background-image: url("../../img/audi.jpg");
    align-items: center;
    text-align: center;
}

a {
    background-color: gray;
    border-radius: 5px;
    color: black;
}

h1,
h2,
h3 {
    color: gray;
    text-align: center;
}

label {
    color: gray;
}

form p {
    color: gray;
}

form button {
    color: gray;
    border-radius: 5px;
}