{% extends "base.html.twig" %}

{% block body %}
<h1>Bonjour Mr {{app.user.lastname}}, veuillez ajouter votre garage</h1>
    <form action="" method="post">
    <h3>name :</h3> <input type="text" name="name">
    <h3>street: </h3><input type="text" name="street">
    <h3>streetcomplement :</h3> <input type="text" name="streetcomplement">
    <h3>postalcode: </h3><input type="text" name="postal">
    <h3>city: </h3><input type="text" name="city">
   <h3> siret: </h3> <input type="text" name="siret"><br><br>
    <button type="submit">Créer</button>
    </form>
{% endblock %}