{% extends "base.html.twig" %}

{% block body %}
<h1>Bonjour </h1>
<a href=" {{ path('garage_add', {id: app.user.id})}}">Ajouter un garage</a>
<a href=" {{ path('user_logout')}}">Se déconnecter</a>
 {% for garage in garages %}
     <h1> Nom du garage :  {{ garage.name }} </h1>
    <a href=" {{ path('listing_add', {id: garage.id})}}">Ajouter une annonce pour ce garage</a>
  
 {% endfor %}
    
 {% endblock %}