{% extends "base.html.twig" %}
  {% block stylesheets %}
          
        <link rel="stylesheet"  href="{{ asset('style/style.css')}} " />

        {% endblock %}
{% block body %}
<h1>Bonjour Mr {{app.user.lastname}}, veuillez ajouter une annonce pour votre garage: {{garage.name}}</h1>
    <form action="{{ path('listing_add', {id: garage.id})}}" method="post">
    <h2> title : </h2> <input type="text" name="title">
    <h2>releaseYear: </h2><input type="date" name="year">
    <h2>km : </h2><input type="text" name="km">
    <h2> price: </h2> <input type="text" name="price">
    <h2>brand: </h2><input type="text" name="brand">
    <h2>model: </h2><input type="text" name="model">
    <select name="fuel">
        <option>Gasole</option>
        <option>Essence</option>
        <option>Hybrid</option>
        <option>Electric</option>
    </select>
    <h2>description: </h2><input type="text" name="description">
    <h2>description complête: </h2><input type="text" name="descriptionAll">
    <h2>photo:</h2><input type="file" name="picture">
    <button type="submit">Créer</button>
    </form>
{% endblock %}