{% extends "base.html.twig" %}
{% block body %}
<h1>Vos Annonces</h1>

 {% for listing in listings %}
     <h2> Nom du l'annonce :  {{ listing.title }} </h2>
     <h2> Marque :  {{ listing.brand }} </h2>
     <h2> Modèle :  {{ listing.model }} </h2>
     <h2> Prix :  {{ listing.price }} Euros </h2>
     <h2> Carburant :  {{ listing.fuel }} </h2>
     <h2> Année de mise en circulation :  {{ listing.releaseYear }} </h2>
     <h2>Nombre d'annonces :  {{ listing.garage|length }}</h2>
 {% endfor %}
     
 {% endblock %}