{% extends "base.html.twig" %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}

    <form action="" method="post">
   <p> lastname : </p><input type="text" name="lastname">
    <p>firstname: </p><input type="text" name="firstname">
    <p>phone : </p><input type="text" name="phone">
    <p>siren: </p><input type="text" name="siren">
    <p>Email: </p><input type="email" name="email">
    <p>password: </p><input type="text" name="password">
    <p>Garage: </p><input type="text" name="garages">
    <p>Username: </p><input type="text" name="username"><br>
    <input type="submit">
    </form>
{% endblock %}