{% extends "base.html.twig" %}
{% block body %}
<h1>Users</h1>
<a href=" {{ path('garage_add', {id: app.user.id})}}">Ajouter un garage</a>

     

 {% for garage in users.garages %}
     <h2> Nom du garage :  {{ garage.name }} </h2>

 
 
 {% endfor %}   
 {% endblock %}